*{
    margin: 0;
}
.cover_picture{
    background: url(/images/banner/banner3.png);
    background-repeat: no-repeat;
    color: white;
    height: 900px;
    /* background-size: cover; */
    
}
.primary_button{
    width: 130px;
    height: 50px;
    color:white;
    background-color: #438ccd;
    border-radius: 6px;
    border: 0;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 20px;
}
.banner{
    text-align: right;
   
    
}
.about_me{
    margin-right: 200px;
   padding-top: 250px;
}
.description{
width: 494px;
height: 78px;
padding-left: 680px;
}
.mid-section{
    
    padding: 0 200px;
}
.mid-section-banner{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}